@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../../images/625910.png') no-repeat;
    background-size: cover;
    background-position: center;
    animation: animatebg 5s linear infinite;
}
@keyframes animatebg {
    100% {
        filter: hue-rotate(360deg);
    }
}
.loginBox {
    position: relative;
    width: 350px;
    height: 400px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .5);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
}
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputBox {
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.inputBox label {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.inputBox input:focus~label,
.inputBox input:valid~label {
    top: -5px;
}
.inputBox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    align-items: flex-end;
    padding: 0 8px 0 5px;

}

.rememberForgot {
    margin: -15px 0 15px;
    color: #fff;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;

}
.rememberForgot label input {
    margin-right: 3px;

}
.rememberForgot a {
    color: #fff;
    text-decoration: none;

}
.rememberForgot a:hover {
    text-decoration: underline;
}
.loginBox button  {
    width: 100%;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    color: #000;
    font-weight: 500;
}
.registerLink {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}
.registerLink p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;


}
.registerLink p a:hover {
    text-decoration: underline;
}

@media (max-width: 360px) {
    .loginBox {
        width: 100%;
        height: 100vh;
        border: none;
        border: 0;
    }
    .inputBox {
        width: 290px;
    }
    
}
.warning {
    border: solid red 1px;
    border-radius: 0.2em;
  }
  
  #danger {
    font-size: 15px;
    color: red;
    margin-left: 10em;
  }